.debt_topic{
    font-size: calc(25px + 1vw);
    font-family: 'Hind', sans-serif;
    border-bottom: 2px solid;
}

.debt_topic a{
    text-decoration: none;
}

.debt_topic i{
    cursor: pointer;
    font-size: calc(18px + 0.85vw);
}

.debt_row, .debt_info_row{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-around;
    font-size: calc(16px + 0.75vw);
    margin-bottom: 1rem;
    font-family: 'Hind', sans-serif;
}

.debt_info_row{
    font-size: calc(14px + 0.65vw);
}

.debt_paytxt{
    text-decoration: underline;
    color:rgb(220, 220, 228);
    cursor: pointer;
}

.debt_msg{
    text-align: right;
    font-size: calc(12px + 0.6vw);
    color: rgb(241, 45, 45);
}

.debt_notexist{
    margin-top: 2rem;
    text-align: center;
}

.debt_notexist_txt{
    color:rgb(220, 220, 228);
    font-size: calc(18px + 0.7vw);
    font-family: 'Hind', sans-serif;
}

.debt_notexist_goback a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(255,232,79);
    font-size: calc(14px + 0.5vw);
    cursor: pointer;
    font-family: 'Hind', sans-serif;
    border-bottom: 2px solid;
}

.debt_notexist_goback a:hover{
    color: rgb(232,232,242);
}

.debt_notexist_goback button:hover{
    background-color: rgb(200, 200, 208);
}

@media screen and (max-width:600px) {
    .debt_notexist_png img{
        width: 152px;
    }
}