.feature{
    overflow-x: hidden;
    color: rgb(255, 223, 79);
    font-family: 'Hind', sans-serif;
}

.feature_topic_container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: calc(5rem + 5vw);
}

.feature_topic_block{
    text-align: center;
    width: 380px;
}

.feature_topic{
    font-size: calc(20px + 0.6vw);
    margin-bottom: 0.5rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.feature_topic_quote{
    color: rgb(228,228,234);
    font-size: calc(14.5px + 0.5vw);
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}

.feature_container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.feature_block{
    width: 520px;
    text-align: center;
    margin-bottom: 5vw;
}

.feature_block_topic{
    font-size: calc(18px + 0.35vw);
    font-weight: bold;
}

.feature_block_quote{
    font-size: calc(14.5px + 0.45vw);
    color: rgb(232,232,242);
}

@media screen and (max-width:1300px) {
    .feature_topic_container{
        flex-direction: column;
        align-items: center;
        gap: 6.5vw;
    }
    .feature_block{
        width: 480px;
    }
}

@media screen and (max-width:1100px) {
    .feature_block{
        width: 420px;
    }
}

@media screen and (max-width:950px){
    .feature_container{
        grid-template-columns: auto;
    }
}

@media screen and (max-width:500px){
    .feature_block{
        width: 380px;
    }
}

@media screen and (max-width:400px){
    .feature_topic_block{
        width: 300px;
    }
    .feature_block{
        width: 300px;
    }
}
