.notfound{
    color: rgb(255, 223, 79);
    font-size: calc(15px + 1vw);
    overflow-x: hidden;
    text-align: center;
    font-family: 'Hind', sans-serif;
}

.notfound_header{
    margin: 2rem 0;
}
.homebutton{
    background-color: black;
    text-decoration: none;
    border: 3px solid;
    border-radius: 6px;
    cursor: pointer;
    font-size: calc(12px + 0.9vw);
    padding: 0 10px;
    color: rgb(220, 220, 228);
}

.homebutton:hover, .supportbutton:hover{
    font-size: 25px;
}

.supportbutton{
    background-color: black;
    text-decoration: none;
    border: 3px solid;
    border-radius: 6px;
    cursor: pointer;
    font-size: calc(12px + 0.9vw);
    padding: 0 10px;
    color: rgb(220, 220, 228);
}

.gethelp{
    margin-top: 3rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(255, 223, 79);
}